@model IEnumerable<News_Models.ViewModels.NewsForIndexViewModel>
@using News_Web.Utilities
@using AngleSharp.Common

@if (Model.Any())
{
    <div class="top-sidebar-r">
        <span class="title">Last Week Most Viewed</span>

        @foreach (var item in Model)
        {

            <a asp-controller="News" asp-action="SingleNews" asp-route-NewsId="@item.NewsId">
                <div class="bx">

                    <div class="col-md-6">
                        <div class="meta">
                            <h5>
                                @item.NewsTitle
                            </h5>
                            <span><i class="fa fa-clock-o"></i> @item.CreateDate.ToGregorian()</span>
                            <div class="text-left" style="margin-left:100px;">
                                <sub><i class="fa fa-eye"></i> @item.Visit</sub>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-box">
                            <figure>
                                <img src="@item.Images" alt="">
                                <figcaption>
                                    <span>
                                        @{
                                            int i = 1;
                                        }
                                        @i
                                        @{
                                            i++;
                                        }
                                    </span>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </a>

        }

    </div>
}
else
{
    <div class="top-sidebar-r" style="height:500px;">
        <div class="alert alert-danger text-center" style="height:470px;">
            <h2>No News This Week</h2>
        </div>
    </div>
}